<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>DaMPS</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<h1 ><span th:text="#{courses}"></span>
			<a style="float: right; margin-top: 8px;" class="btn btn-primary" th:href="@{/course/addNew}" role="button"> <span th:text="#{add}"></span> </a> 		
		</h1>
		
		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th scope="col">
					  <a class="link-primary" 
					  	th:href="@{/courses/{page}/idCou?sortDir={sortDir} (page=${currentPage}, sortDir=${reverseSortDir})}" role="link">#</a >
					</th>
					<th scope="col">
					  <a class="link-primary" 
					  	th:href="@{/courses/{page}/coType?sortDir={sortDir} (page=${currentPage}, sortDir=${reverseSortDir})}" role="link" th:text="#{course.type}">Course type</a >
					</th>
					<th scope="col">
					 <a class="link-primary" 
					 	 th:href="@{/courses/{page}/title?sortDir={sortDir} (page=${currentPage}, sortDir=${reverseSortDir})}" role="link" th:text="#{title}">Title</a > 
					</th>
					<th scope="col" th:text="#{description}">Description</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<thbody>
				<tr th:each="course: ${course}">
					<td th:text="${course.idCou}">#</td>
					<td th:text="${course?.coType?.title}">#</td>
					<td th:text="${course.title}">#</td>
					<td th:text="${course.description}">#</td>
			      	<td >
			      		<a class="btn btn-primary" th:href="@{/course/{id}(id=${course.idCou})}" role="button" th:text="#{view}">View</a>
			      	</td>	
				</tr>
			</thbody>
		</table>
		
		<!-- cool as heck nav bar-->
		<div th:replace="fragments/pageination-navbar.html :: pageination-navbar(
			 pageName = 'courses',
			 currentPage = ${currentPage},
			 totalPages = ${totalPages},
			 totalElements = ${totalElements}
			 )">
		</div>
	</div>

	<div class="footer" th:replace="fragments/footer :: footer"></div>
</body>

</html>