<!DOCTYPE html>
<html>

<body>
	<div th:fragment="header" style="background-color: rgba(0, 0, 0, 0.1);">
	<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link active" th:href="@{/home}">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" th:href="@{/courses}">All Courses</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" th:href="@{/employees}">All Employees</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" th:href="@{/department}">All Departments</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link disabled">Disabled</a>
		  </li>
	</ul>
	</div>
</body>
</html>