<!DOCTYPE html>
<html>

<body>
	<div th:fragment="header" style="background-color: rgba(0, 0, 0, 0.1); box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);">
		<ul class="nav mt-1 justify-content-center">
			<li class="nav-item">
				<a class="nav-link active" th:href="@{/home}" th:text="#{home}"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/courses}" th:text="#{courses}">All Courses</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/course/types}" th:text="#{courseTypes}">All Course Types</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/employees}" th:text="#{employees}">All Employees</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/departments}" th:text="#{departments}">All Departments</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/companies}" th:text="#{companies}">All Companies</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" th:text="#{disabled}">Disabled</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/logout}" th:text="#{logout}">Logout</a>
			</li>
			<li class="nav-item">
				<span class="nav-link" style="color: black; text-align: center;" th:text="#{lang.change}"></span>
			</li>
			<li class="nav-item">
				<select style="margin-top: 8px" id="locales">
					<option></option>
					<option value="en" th:text="#{lang.eng}"></option>
					<option value="lv" th:text="#{lang.lv}"></option>
					<option value="ru" th:text="#{lang.ru}"></option>
				</select>
			</li>
			
			
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
			</script>
			<script type="text/javascript">
				$(document).ready(function () {
					$("#locales").change(function () {
						var selectedOption = $('#locales').val();
						if (selectedOption != '') {
							window.location.replace('?lang=' + selectedOption);
						}
					});
				});
			</script>

		</ul>
	</div>
</body>

</html>