<!DOCTYPE html>
<html>

<body>
	<div th:fragment="pageination-navbar (pageName, currentPage, totalPages, totalElements)">
		
		<nav aria-label="Page navigation example">
			<a><a th:text="#{items}"/> [[${totalElements}]] : <a th:text="#{page}"/> [[${currentPage}]] <a th:text="#{of}"/> [[${totalPages}]]</a>
			<ul class="pagination justify-content-end">
			
				<li class="page-item">
			      <a th:if="${ currentPage != 1}" class="page-link" th:href="@{'/' + ${pageName} + '/' + ${currentPage - 1}   }" th:text="#{prev}">Previous</a>
			      <a th:unless="${ currentPage != 1} " class="page-link disabled" th:text="#{prev}">Previous</a>
			    </li>
			    
			   <li class="page-item">
			      <a th:if="${ currentPage != totalPages}" class="page-link" th:href="@{'/' + ${pageName} + '/' + ${currentPage + 1}   }" th:text="#{next}">Next</a>
			      <a th:unless="${ currentPage != totalPages} " class="page-link disabled" th:text="#{next}">Next</a>
			    </li>
					
			</ul>
		</nav>
		
	</div>
</body>
</html>