<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>DaMPS</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://unpkg.com/react-big-calendar@0.27.0/lib/css/react-big-calendar.css" />

	  <!-- ReactJS -->
<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<!-- React Big Calendar -->
<script src="https://unpkg.com/react-big-calendar@1.5.2/dist/react-big-calendar.js"></script>
<!--https://unpkg.com/browse/react-big-calendar@1.5.2/dist/react-big-calendar.js-->
<!-- MomentJS -->
<script src="https://unpkg.com/moment@2.27.0/moment.js"></script>
<!-- Axios -->
<script src="https://unpkg.com/axios@0.22.0/dist/axios.min.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
	 <div id="root"></div>
	
  <!--  <script type="text/javascript" th:inline="javascript">
    console.log("Hello, World!");
        const App = React.createElement(Calendar, {
            localizer: momentLocalizer(moment),
            events: [[${events}]],
            defaultDate: moment().toDate(),
            startAccessor: "start",
            endAccessor: "end",
            style: { height: 600 }
        });
        ReactDOM.render(App, document.getElementById("root"));
        
    </script>
    <script src="main.a22787cf.js"></script>-->
    <script type="text/javascript" src="static/js/main.f9b716ae.js"></script>
     <!--<script>
    	 ReactDOM.render(<Calendar />, document.getElementById('calendar'));
    </script>-->
	<div class="footer" th:replace="fragments/footer :: footer"></div>
</body>

</html>