<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>DaMPS</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header"></div>

	<div class="container">

		<h1> <span th:text="#{courseTypes}"></span>
		<a style="float: right; margin-top: 8px;" class="btn btn-primary" th:href="@{/course/type/addNew}" role="button"><span th:text="#{add}"></span> </a> 
		</h1>

		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col" th:text="#{courseTypeTitle}"></th>
					<th scope="col" th:text="#{courseTypeIsObligatory}"></th>
					<th scope="col" th:text="#{courseTypeDescription}"></th>
					<th style="margin-left: auto;" scope="col"></th>
				</tr>
			</thead>
			<thbody>
				<tr th:each="courseType: ${courseTypes}">
					<td th:text="${courseType.idTy}">#</td>
					<td th:text="${courseType.title}">#</td>
					<td th:text="${courseType.isObligatory}">#</td>
					<td th:text="${courseType.description}">#</td>
			      	<td >
			      		<a class="btn btn-primary" th:href="@{/course/type/update/{id}(id=${courseType.idTy})}" role="button" th:text="#{edit}">View</a>
			      	</td>
			      	<td >
			      		<a class="btn btn-danger" th:href="@{/course/type/delete/{id}(id=${courseType.idTy})}" role="button" th:text="#{delete}">View</a>
			      	</td>		
				</tr>
			</thbody>
		</table>
		
		<!-- cool as heck nav bar-->
		<div th:replace="fragments/pageination-navbar.html :: pageination-navbar(
			 pageName = 'companies',
			 currentPage = ${currentPage},
			 totalPages = ${totalPages},
			 totalElements = ${totalElements}
			 )">
		</div>
	</div>

	<div class="footer" th:replace="fragments/footer :: footer"></div>
</body>

</html>