<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>DaMPS</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<h1 th:text="${quiz.getTitle()}">Quiz Title</h1>
		<a class="btn btn-primary" th:href="@{{id}/addQuestion (id=${quiz.getIdQu})}" role="button" th:text="#{Add question}">Edit</a>
		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th scope="col" th:text="#{Question}">Question</th>
					<th scope="col" th:text="#{Question Type}">Question Type</th>
					<th scope="col" th:text="#{Answers}">Answers</th>
					<th scope="col" th:text="#{Correct Answer}">Correct Answer</th>
				</tr>
			</thead>
			<thbody>
				<tr th:each="question: ${quiz.getQuizQuestions}">
					<td th:text="${question.getQuestion()}"></td>
					<td th:text="${question.getQuestionType()}"></td>
					<td>
					 	<p th:each="answer: ${question.getQuizAnswers()}"
					 		  th:text="${answer.getAnswer()}">
				 			<br/> 
					 	<p/>
					</td>
					<td>
					 	<p th:each="answer: ${question.getQuizAnswers()}"
					 		  th:if="${answer.getIsCorrect()}"
					 		  th:text="${answer.getAnswer()}">
				 			<br/>
					 	<p/> 
					</td>
					<td>
						<a class="btn btn-primary" th:href="@{/quiz/{id}/question/{qId}/addAnswers (id=${id}, qId=${question.getIdQuQe()})}" role="button" th:text="#{Edit Answers}">Edit Answers</a> <br/>
						<a class="btn btn-primary" th:href="@{/}" role="button" th:text="#{Edit Question}">Edit Answers</a> <br/>

					</td>
				</tr>
			</thbody>
	
		</table>

	</div>

	<div class="footer" th:replace="fragments/footer :: footer"></div>
</body>

</html>