<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>DaMPS</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<h1 ><span th:text="#{quizes}"></span>
			<a style="float: right; margin-top: 8px;" class="btn btn-primary" th:href="@{/quiz/addNew}" role="button"> <span th:text="#{add}"></span> </a> 		
		</h1>
		
		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th scope="col">
						<p text="quiz ID">quiz ID</p>
					</th>
					<th scope="col">
						<p text="quiz name">quiz name</p>
					</th>
					<th scope="col">
						<p text="completion deadline">completion deadline</p>
					</th>
					<th scope="col">
						<p text="course">course</p>
					</th>
					<th scope="col">

					</th>
				</tr>
			</thead>
			<thbody>
				<tr th:each="quiz: ${quizes}">
					<td th:text="${quiz.idQu}">#</td>
					<td th:text="${quiz.title}">#</td>
					<td th:text="${#dates.format(quiz.completionDeadLine, 'dd-MM-yyyy')}">#</td>
			      	<td th:text="${quiz?.course?.title}">#</td>
			      	<td >
			      		<a class="btn btn-primary" th:href="@{/quiz/{id} (id=${quiz.idQu})}" role="button" th:text="#{view}">View</a>
			      		<a class="btn btn-primary" th:href="@{/quiz/{id}/update (id=${quiz.idQu})}" role="button" th:text="#{update}">Update</a>
			      		<a class="btn btn-danger" th:href="@{/quiz/{id}/delete (id=${quiz.idQu})}" role="button" th:text="#{delete}">Delete</a>
			      	</td>	
				</tr>
			</thbody>
		</table>
		
		<!-- cool as heck nav bar
		<div th:replace="fragments/pageination-navbar.html :: pageination-navbar(
			 pageName = 'courses',
			 currentPage = ${currentPage},
			 totalPages = ${totalPages},
			 totalElements = ${totalElements}
			 )">
		</div>
		-->
	</div>

	<div class="footer" th:replace="fragments/footer :: footer"></div>
</body>

</html>