<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
 	<title>DaMPS</title>
 	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
						
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header"></div>
	<br>
	<br>
	<div class="container">
  		<h1 th:text="#{department.add}">Add department</h1>

  		<form action="#" th:action="@{/department/addNew}" th:object="${department}" method="post">
  		
  		<table>
  		<tr>
		    <td><label th:text="#{department.name}">Name</label></td>
		    <td><input type="text" th:field="*{name}"></td>
		    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"><td>
  		</tr>
		<tr>  
		    <td><label th:text="#{company}">Company</label></td>
		    <td>
			    <select th:field="*{company}">
			    	<option th:each="c: ${companies}" th:value="${c.idCo}" th:text="${c.name}" />
				</select>
		    </td>
		</tr>
  		<tr>
		  <td><button type="submit" class="btn btn-primary" th:text="#{submit}">Submit</button></td>
  		</tr>
		  </table>
  		</form>
		
	
	<div class="footer" th:replace="fragments/footer :: footer"></div>
</body>


</html>